.p-container {
  padding-top: 10rem;
  padding-bottom: 5rem;
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 1460px;
  margin: 0 auto;
  background-color: #f9f9f9;
  height: auto;

  
}

#name {
  font-weight: 600 !important;
  margin-bottom: 0;
}
#designation_ {
  font-weight: 600 !important;
  color: #046635;
}
.profile-image {
  max-width: 300px;
  width: 100%;
}
.profile-image img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
}
.profile_right {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2rem;

  h2 {
    font-family: "Gotham Light";
    font-weight: 600;
  }
  p {
    font-weight: 500 !important;
  }
  ul {
    margin-top: 8px;
    list-style: disc;

    li {
      font-weight: 400 !important;
    }
  }

  .cv-dnw {
    justify-content: flex-end;
    display: flex;
  }
}
.profile-description {
  min-width: 200px;
  background-color: #fff;
  height: auto;
  padding: 1rem;
}

.profile-description h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.profile-description p {
  margin: 8px 0 0;
  font-size: 1rem;
  color: #666;
}

/* Responsive Design */
@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    text-align: center;
  }

  .profile-description {
    min-width: auto;
  }
}
