._partner_row {
    padding: 1rem;
    display: flex;

    @media (max-width: 767px) {
        flex-direction: column;
    }

    & ._part_image {
        max-width: 300px;
        min-width: 300px;
        margin-right: 1rem;

        & img {
            width: 100%;
        }
    }

    & ._part_details {
        display: flex;
        flex-direction: column;

        @media (min-width: 1600px) {
            width: 800px;
        }

        @media (min-width: 1400px) and (max-width: 1599px) {
            width: 1000px;
        }

        @media (min-width: 768px) and (max-width: 1399px) {
            width: auto;
        }

        & ._part_name {
            font-weight: 700;
            font-size: clamp(28px, 5vw, 30px);
        }

        & ._part_link {
            margin-bottom: .5rem;
            font-size: clamp(14px, 5vw, 20px);
            color: #046635 !important;
            font-weight: 600;

            &:hover {
                text-decoration: underline !important;
            }
        }

        & ._part_desc {
            font-size: clamp(14px, 5vw, 20px);
        }
    }
}