.dash_container {
    min-height: 100vh;
}

.dash_container ._dash_nav {
    background-color: #046635;
    padding: 1rem 1.5rem;
}

.dash_container ._dash_nav ._brand {
    width: 125px;
}

.dash_container ._dash_nav ._brand img {
    width: 100%;
}

.dash_container ._dash_table_box ._dash_table ._header {
    background-color: #046635;
}

.dash_container ._dash_table_box ._dash_table ._header,
.dash_container ._dash_table_box ._dash_table ._body ._applicant_row {
    display: flex;
    justify-content: space-between;
}

/* @media (min-width: 1400px) { */

.dash_container ._dash_table_box ._dash_table ._header ._fname,
.dash_container ._dash_table_box ._dash_table ._body ._applicant_row ._fname,
.dash_container ._dash_table_box ._dash_table ._header ._lname,
.dash_container ._dash_table_box ._dash_table ._body ._applicant_row ._lname {
    width: 15%;
}

.dash_container ._dash_table_box ._dash_table ._header ._email,
.dash_container ._dash_table_box ._dash_table ._body ._applicant_row ._email,
.dash_container ._dash_table_box ._dash_table ._header ._tel,
.dash_container ._dash_table_box ._dash_table ._body ._applicant_row ._tel {
    width: 20%;
}

.dash_container ._dash_table_box ._dash_table ._header ._dob,
.dash_container ._dash_table_box ._dash_table ._body ._applicant_row ._dob {
    width: 20%;
}

.dash_container ._dash_table_box ._dash_table ._header ._details,
.dash_container ._dash_table_box ._dash_table ._body ._applicant_row ._details {
    width: 10%;
}

/* } */

.dash_container ._dash_table_box ._dash_table ._header>div,
.dash_container ._dash_table_box ._dash_table ._body ._applicant_row>div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: .75rem 0;
    font-size: 18px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

.dash_container ._dash_table_box ._dash_table ._header,
.dash_container ._dash_table_box ._dash_table ._body {}

.dash_container ._dash_table_box ._dash_table ._body ._applicant_row {
    border-bottom: 1px solid #fff;
}

.dash_container ._dash_table_box ._dash_table ._body {
    background-color: #14452fb9;
}

.dash_container ._dash_table_box ._dash_table ._body ._details ._open_applicant_modal_btn svg {
    width: 30px;
}

.dash_container ._dash_title {
    margin: 5vh 0;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.dash_container ._dash_table_box {
    width: 100vw;
    overflow: auto;
}

.dash_container ._dash_table_box ._dash_table {
    min-width: 1400px;
}