.ban_sec {
    width: 100%;
    /* border-radius: 20px; */
  }
  .ban_img {
    width: 100%;
    position: relative;
  }
  .ban_img img {
    width: 100%;
    max-height: 500px;
    /* border-radius: 20px; */
  }
  .apply-btn {
    display: inline-block;
    font: 800 19.39px / 24px "Gotham Medium", sans-serif;
    background: #046635;
    /* border-radius: 10px; */
    color: #fff;
    padding: 12px 28px;
  }
  .ban_text {
    position: absolute;
    top: 50%;
    left: 6%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50%;
  }
  .ban_text strong {
    font: 800 62.22px/70px "Gotham Medium", sans-serif;
    color: #fff;
    text-transform: uppercase;
  }
  .ban_text strong span {
    font: 400 44.44px/52px "Gotham Medium", sans-serif;
    letter-spacing: 3px;
  }
  .ban_text p {
    font: 400 25px/30px "Gotham Medium", sans-serif;
    color: #fff;
    margin: 7px 0 25px;
  }
  .ban_text a, .welcome a {
    display: inline-block;
    font: 800 19.39px/24px "Gotham Medium", sans-serif;
    background: #046635;
    /* border-radius: 10px; */
    color: #fff;
    padding: 12px 28px;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
  }
  .ban_text a:hover, .welcome a:hover  {
    transform: scale(0.9);
  }
  
  @media only screen and (max-width: 991px) {
    .ban_text strong {
      font-size: 25px;
      line-height: 40px;
    }
    .ban_text strong span {
      font-size: 25px;
      line-height: 35px;
      letter-spacing: 2px;
    }
    .ban_text p {
      font-size: 13px;
      line-height: 20px;
    }
    .ban_text a {
      font-size: 13.39px;
      line-height: 15px;
    }
  }
  @media only screen and (max-width: 767px) {
    .ban_img img {
      min-height: 290px;
      object-fit: cover;
    }
  }
  @media only screen and (max-width: 575px) {
    .ban_text strong {
      width: 100%;
      display: block;
    }
    .ban_text strong span {
      font-size: 23px;
    }
    .ban_text p {
      font-size: 13px;
      line-height: 20px;
    }
  }
  @media only screen and (max-width: 480px) {
    .ban_text strong span {
      font-size: 20px;
      line-height: 31px;
      letter-spacing: 1px;
    }
    .ban_text {
      left: 2%;
      width: 100%;
    }
  }


  /* ******************Moduels CSS *************************** */


  
  .faq .faq-list ul {
    padding: 0;
    list-style: none;
  }
  
  .faq .faq-list li+li {
    margin-top: 15px;
  }
  .col-8 {
    color: #000;
    display: flex;
    align-items: center;
  }
  .faq .faq-list li {
    padding: 20px;
    /* background: #046635; */
    border: 1px solid #046635;
    /* border-radius: 10px; */
    position: relative;
    font-size: 15px;
  }
  
  .faq .faq-list a {
    display: block;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
  }
  

  
  .faq .faq-list .icon-show,
  .faq .faq-list .icon-close {
    font-size: 24px;
    position: absolute;
    right: -100%;
    top: 0;
  }
  
  .faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
    /* font-size: 15px; */
  }
  
  .faq .faq-list .icon-show {
    display: none;
  }
  
  .faq .faq-list a.collapsed {
    color: #36348d;
    transition: 0.3s;
  }
  
  .faq .faq-list a.collapsed:hover {
    color: #e82c88;
  }
  
  .faq .faq-list a.collapsed .icon-show {
    display: inline-block;
  }
  
  .faq .faq-list a.collapsed .icon-close {
    display: none;
  }
  
  @media (max-width: 1200px) {
    .faq .faq-list {
      padding: 0;
    }
  }
  

  /* *********************ENTRY REQ**************** */

  .entry_inactive {
    opacity: 0.5;
    pointer-events: none;
  }


  /********************** LECTURERS TAB ****************/
  .lecturer-card {
    width: 100%;
    /* border-radius: 10px; */
    & img {
      width: 100%;
      object-fit: cover;
      /* border-radius: 10px 10px 0 0; */
    }
    & .lecturer-desc {
      padding: 1rem 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: #046635;
      /* border-radius:  0 0 10px 10px; */
      & span {
        font-size: clamp(1.25rem, 1.1944rem + 0.3067vw, 1.5625rem);
        font-weight: 700;
        color: #fff;
        text-transform: capitalize;
      }
      & p {
        font-size: 16px;
        font-weight: 500;
        color: #fff;
      }
    }
  }





  @import url("https://fonts.googleapis.com/css?family=Lato");
.outer {
  flex: 1;
  height: 40vh;
}

.progress {
  display: inline-flex;
  height: 100%;
  padding: 5vh 10%;
}
.progress > div {
  display: flex;
  flex-direction: column;
  color: #333;
}
.progress > div.left {
  padding-right: 20px;
  text-align: right;
}
.progress > div.left div:last-of-type:after {
  display: none;
}
.progress > div.left div:after {
  content: "";
  background: rgba(51, 51, 51, 0.1);
  /* border-radius: 2px; */
  position: absolute;
  right: -20px;
  top: 10px;
  height: 101%;
  width: 1px;
  transform: translateX(50%);
}
.progress > div.right {
  padding-left: 20px;
}
.progress > div.right div.prev:after {
  transition: none;
}
.progress > div.right div.current {
  color: #333;
  font-weight: bold;
}
.progress > div.right div.current:before {
  background: #333;
  padding: 10px;
  transition: all 0.2s 0.15s cubic-bezier(0.175, 0.885, 0.32, 2);
}
.progress > div.right div.current:after {
  height: 0%;
  transition: height 0.2s ease-out;
}
.progress > div.right div.current ~ div {
  color: #666;
}
.progress > div.right div.current ~ div:before {
  background: #666;
  padding: 2.5px;
}
.progress > div.right div.current ~ div:after {
  height: 0%;
  transition: none;
}
.progress > div.right div:before {
  content: "";
  background: #333;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  left: -20px;
  top: 10px;
  transform: translateX(-50%) translateY(-50%);
  transition: padding 0.2s ease;
}
.progress > div.right div:after {
  content: "";
  background: #333;
  /* border-radius: 2px; */
  position: absolute;
  left: -20px;
  top: 10px;
  height: 101%;
  width: 2px;
  transform: translateX(-50%);
  transition: height 0.2s ease;
}
.progress > div div {
  flex: 1;
  position: relative;
  line-height: 20px;
  cursor: default;
  min-height: 30px;
}
.progress > div div:last-of-type {
  flex: 0;
}

.progress.dark {
  background: #fff;
  display: inline-flex;
  height: 100%;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.progress.dark > div {
  display: flex;
  flex-direction: column;
  color: #000;
}
.progress.dark > div.left {
  padding-right: 20px;
  text-align: right;
}
.progress.dark > div.left div:last-of-type:after {
  display: none;
}
.progress.dark > div.left div:after {
  content: "";
  background: rgba(211, 211, 211, 0.05);
  /* border-radius: 2px; */
  position: absolute;
  right: -20px;
  top: 10px;
  height: 101%;
  width: 1px;
  transform: translateX(50%);
}
.progress.dark > div.right {
  padding-left: 10px;
}
.progress.dark > div.right div.prev:after {
  transition: none;
}
.progress.dark > div.right div.current {
  color: white;
  font-weight: bold;
}
.progress.dark > div.right div.current:before {
  background: white;
  padding: 10px;
  transition: all 0.2s 0.15s cubic-bezier(0.175, 0.885, 0.32, 2);
}
.progress.dark > div.right div.current:after {
  height: 0%;
  transition: height 0.2s ease-out;
}
.progress.dark > div.right div.current ~ div {
  color: #666;
}
.progress.dark > div.right div.current ~ div:before {
  background: #666;
  padding: 2.5px;
}
.progress.dark > div.right div.current ~ div:after {
  height: 0%;
  transition: none;
}
.progress.dark > div.right div:before {
  content: "";
  background: #046635;
  padding: 5px;
  /* border-radius: 50%; */
  position: absolute;
  left: -20px;
  top: 10px;
  transform: translateX(-50%) translateY(-50%);
  transition: padding 0.2s ease;
}
.progress.dark > div.right div:after {
  content: "";
  background: #046635;
  /* border-radius: 2px; */
  position: absolute;
  left: -20px;
  top: 10px;
  height: 101%;
  width: 2px;
  transform: translateX(-50%);
  transition: height 0.2s ease;
}
.progress.dark > div div {
  text-align: left;
  font-size: 14px;
  flex: 1;
  position: relative;
  line-height: 20px;
  cursor: default;
  min-height: 30px;
}
.progress.dark > div div:last-of-type {
  flex: 0;
}


.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
  /* border-radius: 10px; */
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}


figure.effect-layla {
	background: #18a367;
}

figure.effect-layla img {
	height: 390px;
}

figure.effect-layla figcaption {
	padding: 3em;
}

figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after {
	position: absolute;
	content: '';
	opacity: 0;
}

figure.effect-layla figcaption::before {
	top: 50px;
	right: 30px;
	bottom: 50px;
	left: 30px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

figure.effect-layla figcaption::after {
	top: 30px;
	right: 50px;
	bottom: 30px;
	left: 50px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

figure.effect-layla h2 {
	padding-top: 45%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-layla p {
	padding: 0.5em 2em;
	text-transform: none;
	opacity: 0;
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
}

figure.effect-layla img,
figure.effect-layla h2 {
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
}

figure.effect-layla img,
figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after,
figure.effect-layla p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-layla:hover img {
	opacity: 0.7;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::before,
figure.effect-layla:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-layla:hover h2,
figure.effect-layla:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::after,
figure.effect-layla:hover h2,
figure.effect-layla:hover p,
figure.effect-layla:hover img {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}


.timeline-steps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}

.timeline-steps .timeline-step {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 1rem
}

.featured-courses ul {
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

@media (min-width:768px) {
  .timeline-steps .timeline-step:not(:last-child):after {
      content: "";
      display: block;
      border-top: .25rem dotted #046635;
      width: 3.46rem;
      position: absolute;
      left: 7.5rem;
      top: .3125rem
  }
  .timeline-steps .timeline-step:not(:first-child):before {
      content: "";
      display: block;
      border-top: .25rem dotted #046635;
      width: 3.8125rem;
      position: absolute;
      right: 7.5rem;
      top: .3125rem
  }
}

.timeline-steps .timeline-content {
  width: 10rem;
  text-align: center
}

.timeline-steps .timeline-content .inner-circle {
  border-radius: 1.5rem;
  height: 1rem;
  width: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #046635;
}
.timeline-steps .timeline-content .inner-circle-extra {
  border-radius: 1.5rem;
  height: 1rem;
  width: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 210, 60);
}

.timeline-steps .timeline-content .inner-circle:before {
  content: "";
  background-color: #046635;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  min-width: 3rem;
  border-radius: 6.25rem;
  opacity: .5
}
.timeline-steps .timeline-content .inner-circle-extra:before {
  content: "";
  background-color: rgb(255, 210, 60);
  display: inline-block;
  height: 3rem;
  width: 3rem;
  min-width: 3rem;
  border-radius: 6.25rem;
  opacity: .2
}