
@font-face {
  font-family: "Gotham Medium";
  src: local("Gotham Medium"),
    url("../assets/fonts/Gotham-Medium.otf") format("otf");
}

@font-face {
  font-family: "Gotham Book";
  src: local("Gotham Book"),
    url("../assets/fonts/Gotham-Book.otf") format("otf");
}
@font-face {
  font-family: "Gotham Light";
  src: local("Gotham Light"),
    url("../assets/fonts/Gotham-Light.woff2") format("woff2");
}


a {
  color: #fff !important;
  text-decoration: none !important;
  cursor: pointer;
  /* width: max-content; */
  font-family: "Gotham";  
}
.ego-green {
  color : #046635
}
body {
  margin: 0;
  pad: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  color: white;
  font-size: clamp(1.875rem, 1.597rem + 1.5337vw, 3.4375rem);
  text-transform: capitalize;
  /* font-weight: 600; */
  font-family: "Gotham Medium" !important;  
  font-weight: 600 !important;
}

h2 {
  font-family: "Gotham" !important;  
  font-size: clamp(1.2rem, 1.597rem + 1.5337vw, 1.5rem);
}

h3,h4, h5, h6, label {
  font-family: "Gotham Medium" !important;
}

p {
  font-family: "Gotham Light" !important;  
  font-weight: 400 !important;
}

ul {
  list-style: none;

  li {
    font-family: "Gotham Light" !important;  
    font-weight: 400 !important;
  }
}
button {
  display: inline-block;
  width: max-content;
  font: 16px/24px "Gotham Book" !important;
  font-weight: 500 !important;
  background: #000;
  /* border-radius: 10px !important; */
  color: #fff;
  padding: 12px 28px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  /* transition: all 0.3s ease-in-out; */
  text-decoration: none;
  border: none;
  font-family: "Gotham Book" !important;  
  
}
button:hover {
  /* transform: scale(0.9); */
}
button:focus,
button:focus-visible {
  outline: none;
}

.button-green {
  display: inline-block;
  width: max-content;
  font: 800 16px/24px "Gotham Medium", sans-serif !important;
  background: #046635;
  /* border-radius: 10px !important; */
  color: #fff;
  padding: 12px 28px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  border: none;
}

.button-green:hover {
  /* border: 1px solid #046635;
  background-color: #fff;
  color: #046635 !important; */
  transform: scale(0.9);

}
.button-green:focus,
.button-green:focus-visible {
  outline: none;
}

.container-heading {
  text-align: center;
  font-size: 13px;
  color: #ffd23c;
  margin: 20px;
  /* font-weight: 500; */
  text-transform: uppercase;
}
.container-heading::after {
  content: "";
  display: inline-block;
  width: 3%;
  height: 1px;
  background-color: #ffd23c;
  position: relative;
  left: 10px;
  bottom: 5px;
}

.container-heading::before {
  content: "";
  display: inline-block;
  width: 3%;
  height: 1px;
  background-color: #ffd23c;
  position: relative;
  right: 10px;
  bottom: 5px;
}

.container-heading-green {
  text-align: center;
  font-size: 13px;
  color: #046635;
  /* font-weight: 500; */
  text-transform: uppercase;
}
.container-heading-green::after {
  content: "";
  display: inline-block;
  width: 3%;
  height: 1px;
  background-color: #046635;
  position: relative;
  left: 10px;
  bottom: 5px;
}

.container-heading-green::before {
  content: "";
  display: inline-block;
  width: 3%;
  height: 1px;
  background-color: #046635;
  position: relative;
  right: 10px;
  bottom: 5px;
}
